<table border="0" cellpadding="0" cellspacing="0" dir="rtl" style="font-family:B Yekan;width:100%">
    <tbody>
        <tr><td height="30"></td></tr>
        <tr>
            <td width="100%" align="center" valign="top">
                <!---------   top header   ------------>
                <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" class="container">
                    <tbody>
                        <tr>
                            <td>
                                <img style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/top-header-bg.png" alt="" class="header-bg">
                            </td>
                        </tr>
                        <tr bgcolor="2780cb">
                            <td height="5"></td>
                        </tr>
                        <tr bgcolor="2780cb">
                            <td align="center">
                                <table border="0" width="560" align="center" cellpadding="0" cellspacing="0" class="container-middle">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" class="top-header-left">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="date">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <img editable="true" mc:edit="icon1" width="13" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/icon-cal.png" alt="icon 1">
                                                                            </td>
                                                                            <td></td>
                                                                            <td mc:edit="date" style="padding-right: 5px;color: #fefefe; font-size: 13px;font-family: 'B Yekan',tahoma; font-weight: normal; ">
                                                                                {{DateTime}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" align="left" cellpadding="0" cellspacing="0" class="top-header-right">
                                                    <tbody>
                                                        <tr><td width="30" height="20"></td></tr>
                                                    </tbody>
                                                </table>

                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="top-header-right">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0" align="center" class="tel">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <img editable="true" mc:edit="icon2" width="17" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/icon-tel.png" alt="icon 2">
                                                                            </td>
                                                                            <td></td>
                                                                            <td mc:edit="tel" style="    font-family: 'B Yekan',tahoma;padding-right: 5px;color: #fefefe; font-size: 13px; font-weight: normal; ">
                                                                                <singleline style="">
                                                                                    {{Telephone}}
                                                                                </singleline>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr bgcolor="2780cb"><td height="10"></td></tr>
                    </tbody>
                </table>
                <!----------    end top header    ------------>
                <!----------   main content----------->
                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="container" bgcolor="ececec">
                    <!--------- Header  ---------->
                    <tbody>
                        <tr bgcolor="ececec"><td height="40"></td></tr>
                        
                        <!--------- section 1 --------->
                        <tr>
                            <td>
                                <table border="0" width="560" align="center" cellpadding="0" cellspacing="0" class="container-middle">
                                    <tbody>
                                        <tr><td align="center"><img style="display: block;" width="560" height="auto" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/top-rounded-bg.png" alt="" class="top-bottom-bg"></td></tr>
                                        <tr bgcolor="ffffff">
                                            <td>
                                                <table width="528" border="0" align="center" cellpadding="0" cellspacing="0" class="mainContent">
                                                    <tbody>
                                                        <tr><td height="20"></td></tr>
                                                        <tr>
                                                            <td style="font-family: 'B Yekan',tahoma;font-size:13px">
                                                                {{Text}}
                                                            </td>
                                                        </tr>
                                                        <tr><td height="20"></td></tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <img style="display: block;" width="560" height="auto" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/bottom-rounded-bg.png" alt="" class="top-bottom-bg">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr><!--------- end section 1 --------->
                        <tr>
                            <td height="35"></td>
                        </tr>
                        <tr>
                            <td height="35"></td>
                        </tr>
                        <!---------- prefooter  --------->
                        <tr>
                            <td>
                                <table border="0" width="560" align="center" cellpadding="0" cellspacing="0" class="container-middle">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table border="0" align="right" cellpadding="0" cellspacing="0" class="logo">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <a href="" style="display: block;">
                                                                    <img editable="true" mc:edit="logo2" width="32" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Logo/log32.png" alt="YekanPedia">

                                                                </a>
                                                            </td>
                                                            <td style="font-family: 'B Yekan',tahoma;font-size: 13px;color: #483E3E;padding-right: 10px;">
                                                                یکان پدیا
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                                <table border="0" align="left" cellpadding="0" cellspacing="0" class="nav">
                                                    <tbody>
                                                        <tr><td height="10"></td></tr>
                                                        <tr>
                                                            <td align="center" mc:edit="socials" style="font-size: 13px;">
                                                                <table border="0" align="center" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <a style="display: block; width: 16px;" href="{{GooglePlus}}"><img editable="true" mc:edit="google" width="16" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/social-google.png" alt="google plus"></a>
                                                                            </td>
                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <a style="display: block; width: 16px;" href="{{Telegram}}"><img editable="true" mc:edit="youtube" width="16" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/social-youtube.png" alt="youtube"></a>
                                                                            </td>
                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <a style="display: block; width: 16px;" href="{{Facebook}}"><img editable="true" mc:edit="facebook" width="16" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/social-facebook.png" alt="facebook"></a>
                                                                            </td>
                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <a style="display: block; width: 16px;" href="{{Twitter}}"><img editable="true" mc:edit="twitter" width="16" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/social-twitter.png" alt="twitter"></a>
                                                                            </td>
                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                <a style="display: block; width: 16px;" href="{{LinkedIn}}"><img editable="true" mc:edit="linkedin" width="16" style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/social-linkedin.png" alt="linkedin"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr><!---------- end prefooter  --------->
                        <tr><td height="40"></td></tr>
                        <tr>
                            <td align="center" mc:edit="copy1" style="font-family: 'B Yekan',tahoma;color: #939393; font-size: 13px; font-weight: normal; " class="prefooter-header">
                                <multiline>
                                    درصورت عدم تمایل به دریافت ایمیل‌، لطفا به قسمت تنظیمات کاربری خود در سایت <a style="text-decoration: none; color: #2f90e2;" href="http://cms.yekanpedia.org">مراجعه نموده</a> و گزینه دریافت ایمیل را غیرفعال نمائید.
                                </multiline>
                            </td>
                        </tr>
                        <tr><td height="30"></td></tr>
                        <tr>
                            <td align="center" mc:edit="copy2" style="font-family: 'B Yekan',tahoma;color: #939393; font-size: 13px; font-weight: normal; " class="prefooter-subheader">
                                <span style="color: #2f90e2 ;font-family: 'B Yekan',tahoma;">آدرس :</span> {{Address}}  
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="font-family: 'B Yekan',tahoma;color: #939393; font-size: 13px; font-weight: normal; ">
                                <span style="color: #2f90e2">تلفن :</span> {{Telephone}}    &nbsp;&nbsp;&nbsp;<span style="color: #2f90e2">ایمیل :</span> {{Email}}
                            </td>
                        </tr>
                        <tr><td height="30"></td></tr>
                    </tbody>
                </table>
                <!------------ end main Content ----------------->
                <!---------- footer  --------->
                <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
                    <tbody>
                        <tr bgcolor="2780cb"><td height="14"></td></tr>
                        <tr bgcolor="2780cb">
                            <td mc:edit="copy3" align="center" style="color: #cecece; font-size: 10px; font-weight: normal; ">
                                <multiline>
                                    Copyright © 2010-{{Year}} YekanPedia.Org
                                </multiline>
                            </td>
                        </tr>

                        <tr>
                            <td><img style="display: block;" src="http://EmailGateway.Yekanpedia.org/Content/Images/Simple/bottom-footer-bg.png" alt="" class="header-bg"></td>
                        </tr>
                    </tbody>
                </table>
                <!---------  end footer --------->
            </td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
    </tbody>
</table>
